<div class="panel panel-default" style="margin-left: 5%; margin-right: 5%" collapse='hideSurveyPicker'>
    <div class="panel-heading">
        <h3 class="panel-title">Choose Survey</h3>
    </div>
    <div class="panel-body" style="width: 100%">
        <table class="table table-condensed">
            <tr>
                <td style="width: 25%; min-width: 11em">
                    <label>Survey to continue:</label>
                </td>
                <td>
                    <select style="width: 100%; max-width: 20em" ng-model="survey" 
                            ng-options="survey.site.name + ': ' + survey.pond.code for survey in surveys">
                        <option value="">-----</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button class="btn btn-primary" ng-class="{ disabled: !survey }" ng-click="loadSurvey();
                                hideSurveyPicker = true" style="width: 10em">Continue</button>
                </td>
            </tr>
        </table>
    </div>
</div>

<div collapse='!hideSurveyPicker'>
    <div class="panel panel-default" style="margin-left: 5%; margin-right: 5%" >
        <div class="panel-heading">
            <h3 class="panel-title" style="margin-bottom: 7px">
                Survey
            </h3>
            <table class="table table-condensed">
                <tr><td>Survey Site</td><td>{{survey.site.name}}</td></tr>
                <tr><td>Pond Code</td><td>{{survey.pond.code}}</td></tr>
                <tr><td>Survey Date</td><td>
                        <div class="input-group" style="width: 12em"  ng-click="openDatePicker($event)">
                            <input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" readonly
                                   ng-model="survey.date" is-open="datePickerOpened" min-date="2014-01-01" max-date="'2018-12-31'" ng-required="true"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="panel-body" style="width: 100%">

            <ng-include src="'html/survey/surveyData.html'"></ng-include>

            <div class="form-group pull-right">
                <button class="form-control-static btn btn-primary" ng-class="{disabled: saved}" style="width: 12%; min-width: 11em" ng-click="save();">Save</button>
                <button class="form-control-static btn btn-warning" style="width: 12%; min-width: 11em" ng-click="hideSurveyPicker = !finish();">Finish</button>
            </div>
        </div>
    </div>
</div>
