<div class="panel panel-default" style="margin-left: 5%; margin-right: 5%" collapse='hideSurveyPicker'>
    <div class="panel-heading">
        <h3 class="panel-title">Choose Survey</h3>
    </div>
    <div class="panel-body" style="width: 100%">
        <table class="table table-condensed">
            <tr>
                <td style="width: 25%; min-width: 11em">
                    <label>Survey to continue:</label>
                </td>
                <td>
                    <select style="width: 100%; max-width: 20em" ng-model="survey" 
                            ng-options="survey.site.name + ': ' + survey.pond.code for survey in surveys"></select>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button class="btn btn-primary" ng-class="{ disabled: !survey }" ng-click="loadSurvey();
                                hideSurveyPicker = true" style="width: 10em">Continue</button>
                </td>
            </tr>
        </table>
    </div>
</div>

<div collapse='!hideSurveyPicker'>
    <div class="panel panel-default" style="margin-left: 5%; margin-right: 5%" >
        <div class="panel-heading">
            <h3 class="panel-title" style="margin-bottom: 7px">
                Survey
            </h3>
            <table class="table table-condensed">
                <tr><td>Survey Site</td><td>{{survey.site.name}}</td></tr>
                <tr><td>Pond Code</td><td>{{survey.pond.code}}</td></tr>
                <tr><td>Survey Date</td><td>{{survey.date}}</td></tr>
            </table>
        </div>
        <div class="panel-body" style="width: 100%">
            <table class="table table-striped">
                <tr>
                    <th colspan="2">
                        Site Data
                    </th>
                </tr>
                <tr><td>Site Name</td><td><input type="text" ng-model="survey.site.name"></td></tr>
                <tr><td>Site Code</td><td><input type="text" ng-model="survey.site.code"></td></tr>
            </table>
            <table class="table table-striped">
                <tr>
                    <th colspan="2">
                        Pond Data
                    </th>
                </tr>
                <tr><td>Pond Code</td><td><input type="text" ng-model="survey.pond.code"></td></tr>
                <tr><td>Description</td><td><textarea rows="5" maxlength="255" ng-model="survey.pond.description"></textarea></td></tr>
                <tr><td>Size</td>
                    <td>
                        <input type="number" pattern="[0-9]*\." step="0.1" placeholder="width" ng-model="survey.pond.width">
                        <label style="margin-right: 1em">x</label>
                        <input type="number" pattern="[0-9]*\." placeholder="length" ng-model="survey.pond.length">
                        <label>meters</label>
                    </td></tr>
                <tr><td>Marginal Complexity</td><td><input type="number" placeholder="%" pattern="[0-9]*\." min="0" max="100" ng-model="survey.pond.marginalComplexity"></td></tr>
                <tr><td>Has In/Out Flows</td><td><input type="checkbox" ng-model="survey.pond.hasInOutFlows"></td></tr>
                <tr><td>Land Use 5m</td><td><ol>
                            <li><i class="text-icon glyphicon glyphicon-plus" ng-click="addUsage(5)"></i>Add Use</li>
                            <li ng-repeat="use in survey.pond.landUse5m"><i class="text-icon glyphicon glyphicon-minus" ng-click="survey.pond.landUse5m.splice($index, 1)"></i>{{use}}</li>
                        </ol></td></tr>
                <tr><td>Land Use 100m</td><td><ol>
                            <li><i class="text-icon glyphicon glyphicon-plus" ng-click="addUsage(100)"></i>Add Use</li>
                            <li ng-repeat="use in survey.pond.landUse100m"><i class="text-icon glyphicon glyphicon-minus" ng-click="survey.pond.landUse100m.splice($index, 1)"></i>{{use}}</li>
                        </ol></td></tr>
                <tr><td>Land Use 1km</td><td><ol>
                            <li><i class="text-icon glyphicon glyphicon-plus" ng-click="addUsage(1000)"></i>Add Use</li>
                            <li ng-repeat="use in survey.pond.landUse1km"><i class="text-icon glyphicon glyphicon-minus" ng-click="survey.pond.landUse1km.splice($index, 1)"></i>{{use}}</li>
                        </ol></td></tr>
                <tr><td>Location</td>
                    <td>
                        <table class="table table-condensed">
                            <tr><th>Area</th><th>Easting</th><th>Northing</th><th>Remove</th></tr>
                            <tr ng-repeat="coordinate in survey.pond.coordinates">
                                <td>{{coordinate.area}}</td>
                                <td>{{coordinate.easting}}</td>
                                <td>{{coordinate.northing}}</td>
                                <td><i class="glyphicon glyphicon-minus" ng-click="survey.pond.coordinates.splice($index,1)"></i></td>
                            </tr>
                            <tr>
                                <td><input type="text" maxlength="2" style="width: 10%; min-width: 2em" ng-model="newPondCoordArea"></td>
                                <td><input type="number" style="width: 80%" pattern="[0-9]*" max="99999" ng-model="newPondCoordEasting"></td>
                                <td><input type="number" style="width: 80%" pattern="[0-9]*" max="99999" ng-model="newPondCoordNorthing"></td>
                                <td><button class="btn btn-sm btn-primary" style="width: 80%" ng-class="{disabled: !newPondCoordArea || !newPondCoordEasting || !newPondCoordNorthing}" ng-click="addNewPondCoordinate()">Add</button></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table class="table table-striped">
                <tr>
                    <th colspan="2">Vegetation</th>
                </tr>
                <tr><td>Surveyor</td><td><input type="text" ng-model="survey.vegetation.surveyor" placeholder="Name of Vegetation Surveyor"></td></tr>
                <tr><td>Filamentious Algae</td><td><input type="number" pattern="[0-9]*\." ng-model="survey.vegetation.filamentiousAlgae" placeholder="%"></td></tr>
                <tr><td>Submerged Vegetation</td><td><input type="number" pattern="[0-9]*\." ng-model="survey.vegetation.submerged" placeholder="%"></td></tr>
                <tr><td>Floating Vegetation</td><td><input type="number" pattern="[0-9]*\." ng-model="survey.vegetation.floating" placeholder="%"></td></tr>
                <tr><td>Emergent Vegetation</td><td><input type="number" pattern="[0-9]*\." ng-model="survey.vegetation.emergent" placeholder="%"></td></tr>
                <tr><td>Water Area</td><td><input type="number" pattern="[0-9]*\." ng-model="survey.vegetation.waterArea" placeholder="%"></td></tr>
                <tr><td>Bryophytes</td><td><input type="number" pattern="[0-9]*\." ng-model="survey.vegetation.bryophytes" placeholder="%"></td></tr>
                <tr><td>Bare Ground</td><td><input type="number" pattern="[0-9]*\." ng-model="survey.vegetation.bareGround" placeholder="%"></td></tr>
            </table>
            <table class="table table-striped">
                <tr>
                    <th colspan="2">Overhang</th>
                </tr>
                <tr><td>Pond Area Overhung</td><td><input type="number" ng-model="survey.overhang.pondArea" placeholder="%"></td></tr>
                <tr><td>Pond Margin Overhung</td><td><input type="number" ng-model="survey.overhang.pondMargin" placeholder="%"></td></tr>
                <tr><td>Water Area Overhung</td><td><input type="number" ng-model="survey.overhang.waterArea" placeholder="%"></td></tr>
                <tr><td>Water Margin Overhung</td><td><input type="number" ng-model="survey.overhang.waterMargin" placeholder="%"></td></tr>
            </table>
            
            
            <table class="table table-condensed">
                <tr>
                    <td>Take Photo</td>
                    <td><input type="file" accept="image/*" capture="camera"></td>
                </tr>
            </table>

            <div>
                <button class="pull-right btn btn-primary" style="width: 25%; min-width: 11em" ng-click="save();
                            hideSurveyPicker = false">Save</button>
            </div>
        </div>
    </div>
</div>
