<div ng-controller="surveyCtrl">
    <table class="table table-striped">
        <tr>
            <th colspan="2">
                Site Data
            </th>
        </tr>
        <tr><td>Site Name</td><td><input type="text" ng-model="survey.site.name"></td></tr>
        <tr><td>Site Code</td><td><input type="text" ng-model="survey.site.code"></td></tr>
        <tr>
            <th colspan="2">
                Pond Data
            </th>
        </tr>
        <tr><td>Pond Code</td><td><input type="text" ng-model="survey.pond.code"></td></tr>
        <tr><td>Description</td><td><textarea rows="5" maxlength="255" ng-model="survey.pond.description"></textarea></td></tr>
        <tr><td>Size</td>
            <td>
                <input type="number" step="0.1" ng-model="survey.pond.width">
                <label style="margin-right: 1em">x</label>
                <input type="number" ng-model="survey.pond.length">
                <label>meters</label>
            </td></tr>
        <tr><td>Marginal Complexity (%)</td><td><input type="number" min="0" max="100" ng-model="survey.pond.marginalComplexity"></td></tr>
        <tr><td>Has In/Out Flows</td><td><input type="checkbox" ng-model="survey.pond.hasInOutFlows"></td></tr>
        <tr><td>Land Use 5m</td><td><ol>
                    <li ng-click="addUsage(5)"><i class="text-icon glyphicon glyphicon-plus"></i>Add Use</li>
                    <li ng-repeat="use in survey.pond.landUse5m"><i class="text-icon glyphicon glyphicon-minus" ng-click="survey.pond.landUse5m.splice($index, 1)"></i>{{use}}</li>
                </ol></td></tr>
        <tr><td>Land Use 100m</td><td><ol>
                    <li ng-click="addUsage(100)"><i class="text-icon glyphicon glyphicon-plus"></i>Add Use</li>
                    <li ng-repeat="use in survey.pond.landUse100m"><i class="text-icon glyphicon glyphicon-minus" ng-click="survey.pond.landUse100m.splice($index, 1)"></i>{{use}}</li>
                </ol></td></tr>
        <tr><td>Land Use 1km</td><td><ol>
                    <li ng-click="addUsage(1000)"><i class="text-icon glyphicon glyphicon-plus"></i>Add Use</li>
                    <li ng-repeat="use in survey.pond.landUse1km"><i class="text-icon glyphicon glyphicon-minus" ng-click="survey.pond.landUse1km.splice($index, 1)"></i>{{use}}</li>
                </ol></td></tr>

    </table>
    
    <table class="table table-striped">
        <tr>
            <th colspan="2">Vegetation</th>
        </tr>
        <tr><td>Surveyor</td><td><input type="text" ng-model="survey.vegetation.surveyor" placeholder="Name of Vegetation Surveyor"></td></tr>
        <tr><td>Filamentious Algae</td><td><input type="number" ng-model="survey.vegetation.filamentiousAlgae" placeholder="%"></td></tr>
        <tr><td>Submerged Vegetation</td><td><input type="number" ng-model="survey.vegetation.submerged" placeholder="%"></td></tr>
        <tr><td>Floating Vegetation</td><td><input type="number" ng-model="survey.vegetation.floating" placeholder="%"></td></tr>
        <tr><td>Emergent Vegetation</td><td><input type="number" ng-model="survey.vegetation.emergent" placeholder="%"></td></tr>
        <tr><td>Water Area</td><td><input type="number" ng-model="survey.vegetation.waterArea" placeholder="%"></td></tr>
        <tr><td>Bryophytes</td><td><input type="number" ng-model="survey.vegetation.bryophytes" placeholder="%"></td></tr>
        <tr><td>Bare Ground</td><td><input type="number" ng-model="survey.vegetation.bareGround" placeholder="%"></td></tr>
    </table>
    <table class="table table-condensed">
        <tr>
            <td>Take Photo</td>
            <td><input type="file" accept="image/*" capture="camera"></td>
        </tr>
    </table>

    <div>
        <button class="pull-right btn btn-primary" style="width: 25%; min-width: 11em" ng-click="save();
                    hideSurveyPicker = false">Save</button>
    </div>
</div>